<div class="container mt-3 px-2">
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <div class="position-relative">
      <button routerLink="/create-course" type="button" class="btn btn-outline-primary">Add New Course</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-responsive table-borderless">
      <thead>
        <tr class="bg-light">
          <th scope="col" width="20%">Title</th>
          <th scope="col" width="10%">Status</th>
          <th scope="col" width="20%">Course Link</th>
          <th scope="col" width="20%">Platform</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (course of courses; track $index) {
          <tr>
            <td>{{course.courseTitle}}</td>
            <td>{{course.isCompleted}} </td>
            <td><a href="#/getting-started-with-angular" target="_blank">{{course.courseLink}}</a></td>
            <td>{{course.platform}}</td>
            <td><fa-icon (click)="deleteCourse(course._id)" [icon]="faTrash" style="color: red; cursor: pointer;"></fa-icon></td>
            <td><fa-icon (click)="editCourse(course._id)" [icon]="faPenToSquare" style="color: blue; cursor: pointer;"></fa-icon></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
